USE [master]
GO
/****** Object:  Database [SaccosDB]    Script Date: 2/25/2026 4:38:44 PM ******/
CREATE DATABASE [SaccosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaccosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SaccosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaccosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SaccosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaccosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaccosDB]
GO
/****** Object:  User [saccos-user]    Script Date: 2/25/2026 4:38:44 PM ******/
CREATE USER [saccos-user] FOR LOGIN [saccos-user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [saccos_user]    Script Date: 2/25/2026 4:38:44 PM ******/
CREATE USER [saccos_user] FOR LOGIN [saccos_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [saccos-user]
GO
ALTER ROLE [db_owner] ADD MEMBER [saccos_user]
GO
/****** Object:  Table [dbo].[ApiLog]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiLog](
	[ApiLogID] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestID] [varchar](100) NULL,
	[Method] [varchar](10) NULL,
	[Uri] [varchar](500) NULL,
	[RequestBody] [nvarchar](max) NULL,
	[ResponseBody] [nvarchar](max) NULL,
	[StatusCode] [int] NULL,
	[DurationMs] [int] NULL,
	[UserId] [varchar](100) NULL,
	[IpAddress] [varchar](50) NULL,
	[UserAgent] [varchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditLogID] [bigint] IDENTITY(1,1) NOT NULL,
	[EntityName] [varchar](100) NULL,
	[EntityID] [varchar](100) NULL,
	[Action] [varchar](50) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[ChangedBy] [varchar](100) NULL,
	[ChangedDate] [datetime] NOT NULL,
	[IpAddress] [varchar](50) NULL,
	[UserAgent] [varchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthAuditLog]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthAuditLog](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[IdNumber] [varchar](50) NULL,
	[Action] [varchar](50) NOT NULL,
	[IpAddress] [varchar](50) NULL,
	[UserAgent] [varchar](500) NULL,
	[Status] [varchar](20) NOT NULL,
	[ErrorMessage] [varchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AuthAuditLog] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlacklistedToken]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlacklistedToken](
	[TokenId] [bigint] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](1000) NOT NULL,
	[BlacklistedDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[Reason] [varchar](100) NULL,
 CONSTRAINT [PK_BlacklistedToken] PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BlacklistedToken_Token] UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan](
	[LoanID] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[EndDate] [date] NULL,
	[InterestRate] [numeric](5, 2) NOT NULL,
	[LoanNumber] [varchar](50) NOT NULL,
	[LoanType] [varchar](50) NULL,
	[MonthlyPayment] [numeric](18, 2) NULL,
	[PrincipalAmount] [numeric](18, 2) NOT NULL,
	[RemainingBalance] [numeric](18, 2) NULL,
	[StartDate] [date] NULL,
	[TermMonths] [int] NOT NULL,
	[ProfileID] [bigint] NULL,
	[StatusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKaoqwj7i0ti5adhmbdm35s3u26] UNIQUE NONCLUSTERED 
(
	[LoanNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanApplication]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanApplication](
	[ApplicationID] [bigint] IDENTITY(1,1) NOT NULL,
	[ApplicationNumber] [varchar](50) NOT NULL,
	[ProfileID] [bigint] NOT NULL,
	[LoanType] [varchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TermMonths] [int] NOT NULL,
	[Purpose] [varchar](500) NULL,
	[AppliedDate] [datetime] NOT NULL,
	[StatusID] [int] NOT NULL,
	[ApprovedDate] [datetime] NULL,
	[ApprovedBy] [varchar](100) NULL,
	[ApprovedAmount] [decimal](18, 2) NULL,
	[RejectionReason] [varchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NULL,
	[EmergencyReason] [varchar](500) NULL,
	[SupportingDocument] [varchar](500) NULL,
	[DocumentVerified] [bit] NULL,
	[PhoneVerified] [bit] NULL,
	[GuarantorIdNumber] [varchar](50) NULL,
	[GuarantorName] [varchar](100) NULL,
	[GuarantorPhone] [varchar](20) NULL,
	[VerificationNotes] [varchar](500) NULL,
 CONSTRAINT [PK_LoanApplication] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LoanApplication_Number] UNIQUE NONCLUSTERED 
(
	[ApplicationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanPayment]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanPayment](
	[PaymentID] [bigint] IDENTITY(1,1) NOT NULL,
	[PaymentReference] [varchar](100) NOT NULL,
	[LoanID] [bigint] NOT NULL,
	[ScheduleID] [bigint] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMethod] [varchar](50) NULL,
	[TransactionReference] [varchar](100) NULL,
	[PaidBy] [varchar](100) NULL,
	[Notes] [varchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_LoanPayment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LoanPayment_Reference] UNIQUE NONCLUSTERED 
(
	[PaymentReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanPaymentSchedule]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanPaymentSchedule](
	[ScheduleID] [bigint] IDENTITY(1,1) NOT NULL,
	[LoanID] [bigint] NOT NULL,
	[InstallmentNumber] [int] NOT NULL,
	[DueDate] [date] NOT NULL,
	[AmountDue] [decimal](18, 2) NOT NULL,
	[PrincipalAmount] [decimal](18, 2) NOT NULL,
	[InterestAmount] [decimal](18, 2) NOT NULL,
	[PaidDate] [date] NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LoanPaymentSchedule] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupCategory]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_LookupCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LookupCategory_CategoryName] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupStatus]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[StatusCode] [varchar](50) NOT NULL,
	[StatusName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_LookupStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LookupStatus_StatusCode] UNIQUE NONCLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyStatement]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyStatement](
	[StatementID] [bigint] IDENTITY(1,1) NOT NULL,
	[StatementNumber] [varchar](50) NOT NULL,
	[ProfileID] [bigint] NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[OpeningBalance] [decimal](18, 2) NOT NULL,
	[TotalDeposits] [decimal](18, 2) NOT NULL,
	[TotalWithdrawals] [decimal](18, 2) NOT NULL,
	[TotalInterest] [decimal](18, 2) NOT NULL,
	[ClosingBalance] [decimal](18, 2) NOT NULL,
	[GeneratedDate] [datetime] NOT NULL,
	[GeneratedBy] [varchar](100) NULL,
	[IsSent] [bit] NOT NULL,
	[SentDate] [datetime] NULL,
 CONSTRAINT [PK_MonthlyStatement] PRIMARY KEY CLUSTERED 
(
	[StatementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MonthlyStatement_Number] UNIQUE NONCLUSTERED 
(
	[StatementNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NULL,
	[ProfileID] [bigint] NULL,
	[Title] [varchar](200) NOT NULL,
	[Message] [varchar](1000) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsImportant] [bit] NOT NULL,
	[ActionUrl] [varchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ReadDate] [datetime] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPVerification]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPVerification](
	[OtpId] [bigint] IDENTITY(1,1) NOT NULL,
	[IdNumber] [varchar](50) NOT NULL,
	[OtpCode] [varchar](10) NOT NULL,
	[OtpType] [varchar](20) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UsedDate] [datetime] NULL,
 CONSTRAINT [PK_OTPVerification] PRIMARY KEY CLUSTERED 
(
	[OtpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavingsAccount]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavingsAccount](
	[SavingID] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](50) NOT NULL,
	[ProfileID] [bigint] NULL,
	[AccountType] [varchar](50) NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[InterestRate] [decimal](5, 2) NULL,
	[LastInterestCalcDate] [date] NULL,
	[StatusID] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_SavingsAccount] PRIMARY KEY CLUSTERED 
(
	[SavingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SavingsAccount_AccountNumber] UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavingsTransactionType]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavingsTransactionType](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeCode] [varchar](50) NOT NULL,
	[TypeName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SavingsTransactionType] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SavingsTransactionType_Code] UNIQUE NONCLUSTERED 
(
	[TypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffProfile]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffProfile](
	[ProfileID] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberNumber] [varchar](50) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[IdNumber] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[JoinDate] [date] NOT NULL,
	[StatusID] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
 CONSTRAINT [PK_StaffProfile] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StaffProfile_MemberNumber] UNIQUE NONCLUSTERED 
(
	[MemberNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemUser]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUser](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileID] [bigint] NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[PasswordChangedDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
 CONSTRAINT [PK_SystemUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SystemUser_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionRecord]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionRecord](
	[TransactionID] [bigint] IDENTITY(1,1) NOT NULL,
	[TransactionRef] [varchar](100) NOT NULL,
	[SavingID] [bigint] NULL,
	[TransactionType] [varchar](50) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[BalanceBefore] [decimal](18, 2) NULL,
	[BalanceAfter] [decimal](18, 2) NULL,
	[Description] [varchar](500) NULL,
	[TransactionDate] [datetime] NOT NULL,
	[PerformedBy] [varchar](100) NULL,
 CONSTRAINT [PK_TransactionRecord] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TransactionRecord_TransactionRef] UNIQUE NONCLUSTERED 
(
	[TransactionRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 2/25/2026 4:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[RoleID] [int] NOT NULL,
	[AssignedDate] [datetime] NOT NULL,
	[AssignedBy] [varchar](100) NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserRoles_User_Role] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthAuditLog_CreatedDate]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuthAuditLog_CreatedDate] ON [dbo].[AuthAuditLog]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthAuditLog_UserId]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuthAuditLog_UserId] ON [dbo].[AuthAuditLog]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoanApplication_ProfileID]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_LoanApplication_ProfileID] ON [dbo].[LoanApplication]
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoanApplication_StatusID]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_LoanApplication_StatusID] ON [dbo].[LoanApplication]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoanPayment_LoanID]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_LoanPayment_LoanID] ON [dbo].[LoanPayment]
(
	[LoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoanPaymentSchedule_LoanID]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_LoanPaymentSchedule_LoanID] ON [dbo].[LoanPaymentSchedule]
(
	[LoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonthlyStatement_MonthYear]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonthlyStatement_MonthYear] ON [dbo].[MonthlyStatement]
(
	[Month] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonthlyStatement_ProfileID]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonthlyStatement_ProfileID] ON [dbo].[MonthlyStatement]
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_IsRead]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_IsRead] ON [dbo].[Notification]
(
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_ProfileID]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_ProfileID] ON [dbo].[Notification]
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_UserID]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_UserID] ON [dbo].[Notification]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OTPVerification_Expiry]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_OTPVerification_Expiry] ON [dbo].[OTPVerification]
(
	[ExpiryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OTPVerification_IdNumber]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_OTPVerification_IdNumber] ON [dbo].[OTPVerification]
(
	[IdNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SystemUser_ProfileID]    Script Date: 2/25/2026 4:38:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_SystemUser_ProfileID] ON [dbo].[SystemUser]
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [ChangedDate]
GO
ALTER TABLE [dbo].[AuthAuditLog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BlacklistedToken] ADD  DEFAULT (getdate()) FOR [BlacklistedDate]
GO
ALTER TABLE [dbo].[LoanApplication] ADD  DEFAULT (getdate()) FOR [AppliedDate]
GO
ALTER TABLE [dbo].[LoanApplication] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LoanApplication] ADD  DEFAULT ((0)) FOR [DocumentVerified]
GO
ALTER TABLE [dbo].[LoanApplication] ADD  DEFAULT ((0)) FOR [PhoneVerified]
GO
ALTER TABLE [dbo].[LoanPayment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[LoanPayment] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LoanPaymentSchedule] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[LoanPaymentSchedule] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LookupCategory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LookupCategory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LookupStatus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LookupStatus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MonthlyStatement] ADD  DEFAULT (getdate()) FOR [GeneratedDate]
GO
ALTER TABLE [dbo].[MonthlyStatement] ADD  DEFAULT ((0)) FOR [IsSent]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [IsImportant]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OTPVerification] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[OTPVerification] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SavingsAccount] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[SavingsAccount] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SavingsTransactionType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SavingsTransactionType] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StaffProfile] ADD  DEFAULT (CONVERT([date],getdate())) FOR [JoinDate]
GO
ALTER TABLE [dbo].[StaffProfile] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SystemUser] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemUser] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[SystemUser] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[SystemUser] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TransactionRecord] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[Loan]  WITH CHECK ADD  CONSTRAINT [FK1myl7ytnryq269dfs0p8bg8wn] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[StaffProfile] ([ProfileID])
GO
ALTER TABLE [dbo].[Loan] CHECK CONSTRAINT [FK1myl7ytnryq269dfs0p8bg8wn]
GO
ALTER TABLE [dbo].[Loan]  WITH CHECK ADD  CONSTRAINT [FKnu33pydiue7ypb6btfwktkvqc] FOREIGN KEY([StatusID])
REFERENCES [dbo].[LookupStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Loan] CHECK CONSTRAINT [FKnu33pydiue7ypb6btfwktkvqc]
GO
ALTER TABLE [dbo].[LoanApplication]  WITH CHECK ADD  CONSTRAINT [FK_LoanApplication_Profile] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[StaffProfile] ([ProfileID])
GO
ALTER TABLE [dbo].[LoanApplication] CHECK CONSTRAINT [FK_LoanApplication_Profile]
GO
ALTER TABLE [dbo].[LoanApplication]  WITH CHECK ADD  CONSTRAINT [FK_LoanApplication_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[LookupStatus] ([StatusID])
GO
ALTER TABLE [dbo].[LoanApplication] CHECK CONSTRAINT [FK_LoanApplication_Status]
GO
ALTER TABLE [dbo].[LoanPayment]  WITH CHECK ADD  CONSTRAINT [FK_LoanPayment_Loan] FOREIGN KEY([LoanID])
REFERENCES [dbo].[Loan] ([LoanID])
GO
ALTER TABLE [dbo].[LoanPayment] CHECK CONSTRAINT [FK_LoanPayment_Loan]
GO
ALTER TABLE [dbo].[LoanPayment]  WITH CHECK ADD  CONSTRAINT [FK_LoanPayment_Schedule] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[LoanPaymentSchedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[LoanPayment] CHECK CONSTRAINT [FK_LoanPayment_Schedule]
GO
ALTER TABLE [dbo].[LoanPaymentSchedule]  WITH CHECK ADD  CONSTRAINT [FK_LoanPaymentSchedule_Loan] FOREIGN KEY([LoanID])
REFERENCES [dbo].[Loan] ([LoanID])
GO
ALTER TABLE [dbo].[LoanPaymentSchedule] CHECK CONSTRAINT [FK_LoanPaymentSchedule_Loan]
GO
ALTER TABLE [dbo].[LookupStatus]  WITH CHECK ADD  CONSTRAINT [FK_LookupStatus_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[LookupCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[LookupStatus] CHECK CONSTRAINT [FK_LookupStatus_Category]
GO
ALTER TABLE [dbo].[MonthlyStatement]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyStatement_Profile] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[StaffProfile] ([ProfileID])
GO
ALTER TABLE [dbo].[MonthlyStatement] CHECK CONSTRAINT [FK_MonthlyStatement_Profile]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Profile] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[StaffProfile] ([ProfileID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Profile]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[SystemUser] ([UserId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[SavingsAccount]  WITH CHECK ADD  CONSTRAINT [FK_SavingsAccount_Profile] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[StaffProfile] ([ProfileID])
GO
ALTER TABLE [dbo].[SavingsAccount] CHECK CONSTRAINT [FK_SavingsAccount_Profile]
GO
ALTER TABLE [dbo].[SavingsAccount]  WITH CHECK ADD  CONSTRAINT [FK_SavingsAccount_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[LookupStatus] ([StatusID])
GO
ALTER TABLE [dbo].[SavingsAccount] CHECK CONSTRAINT [FK_SavingsAccount_Status]
GO
ALTER TABLE [dbo].[StaffProfile]  WITH CHECK ADD  CONSTRAINT [FK_StaffProfile_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[LookupStatus] ([StatusID])
GO
ALTER TABLE [dbo].[StaffProfile] CHECK CONSTRAINT [FK_StaffProfile_Status]
GO
ALTER TABLE [dbo].[SystemUser]  WITH CHECK ADD  CONSTRAINT [FK_SystemUser_Profile] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[StaffProfile] ([ProfileID])
GO
ALTER TABLE [dbo].[SystemUser] CHECK CONSTRAINT [FK_SystemUser_Profile]
GO
ALTER TABLE [dbo].[TransactionRecord]  WITH CHECK ADD  CONSTRAINT [FK_TransactionRecord_SavingsAccount] FOREIGN KEY([SavingID])
REFERENCES [dbo].[SavingsAccount] ([SavingID])
GO
ALTER TABLE [dbo].[TransactionRecord] CHECK CONSTRAINT [FK_TransactionRecord_SavingsAccount]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[SystemUser] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User]
GO
ALTER TABLE [dbo].[AuthAuditLog]  WITH CHECK ADD  CONSTRAINT [CHK_AuthAuditLog_Action] CHECK  (([Action]='OTP_VERIFIED' OR [Action]='OTP_SENT' OR [Action]='PASSWORD_RESET' OR [Action]='REGISTER' OR [Action]='LOGOUT' OR [Action]='LOGIN'))
GO
ALTER TABLE [dbo].[AuthAuditLog] CHECK CONSTRAINT [CHK_AuthAuditLog_Action]
GO
ALTER TABLE [dbo].[AuthAuditLog]  WITH CHECK ADD  CONSTRAINT [CHK_AuthAuditLog_Status] CHECK  (([Status]='FAILED' OR [Status]='SUCCESS'))
GO
ALTER TABLE [dbo].[AuthAuditLog] CHECK CONSTRAINT [CHK_AuthAuditLog_Status]
GO
ALTER TABLE [dbo].[OTPVerification]  WITH CHECK ADD  CONSTRAINT [CHK_OTPVerification_Type] CHECK  (([OtpType]='PASSWORD_RESET' OR [OtpType]='REGISTRATION'))
GO
ALTER TABLE [dbo].[OTPVerification] CHECK CONSTRAINT [CHK_OTPVerification_Type]
GO
USE [master]
GO
